.main {
    display: flex;
    color: white;
    flex-flow: column nowrap;
}

.result-section {
    background: #2c3033;
    height: 25vh;
    color: white;
  }

/*      Function Section      */
.fonction-section-show {
    background-color: rgb(255, 255, 255);
    color: black;
    height: 12px;
    width: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.fonction-section {
    display: flex;
    height: 25vh;
    background: #174fa6;
    flex-flow: column nowrap;
}

.function-section > .function-row {
    flex: 1;
}

.function-row {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
}

.function-row > .function {
    flex: 1;
}

.function {
    height: 100%;
    width: 100%;
    border-radius: 0px;
}

.function:hover {
    background: #1b5bc2;
}

/*      Pad Section      */
.pad-section {
    display: flex;
    height: 50vh;
    background: #202125;
    flex-flow: column nowrap;
}

.pad-section > .pad-row {
    flex: 1;
}

.pad-row {
    display: flex;
    align-items: center;
    color: white;
}

.pad-row > .pad {
    flex: 1;
}

.pad {
    height: 100%;
    width: 100%;
    border-radius: 0px;
}

.pad:hover {
    background: #393b42;
}