html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

@media (min-width: 640px) {
  body {
    font-size: 24px;
  }
}